{% extends 'master.html' %}
{% block body %}
<h1 class="title">{{course}}</h1>
<div>
    <p>
        Hi {{user.first_name}}, you are logged into {{course.name}} as
        {% if user in course.students.all and user != course.instructor %}
        a student.
        {% endif %}
        {% if user in course.ta_staff.all and user != course.instructor %}
        a TA.
        {% endif %}
        {% if user == course.instructor %}
        the instructor.
        {% endif %}
        </br>
        <a href="/"> Go Home</a>
        </br>
        <a href="/logout"> Logout</a>
    </p>
</div>
</br>
<div class="columns">
    <div class="column is-one-third">
        <div class="columns">
            <div class="column is-one-third">
                <form method="POST" action="/render_post_form">
                    {% csrf_token %}
                    <input value="{{course.id}}" name="course_id" type="hidden">
                    <button class="button is-primary" type="submit">New Post</button>
                </form>
            </div>
            <div class="column">
                <input class="input is-primary" type="text" placeholder="Search...">
            </div>
        </div>
        <div class="columns">
            <div class="column post-list">
                {% if filter %}
                {% for post in posts %}
                <div class="post card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{post.summary}}
                        </p>
                        <p>{{post.created_at}}</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{post.content}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <div class="columns">
                                <div class="column">
                                    <a href={% url 'view_post' course_id=course.id post_id=post.id %}>VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </br>
                {% endfor %}
                {% else %}
                {% for post in course.course_posts.all %}
                <div class="post card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{post.summary}}
                        </p>
                        <p>{{post.created_at}}</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{post.content}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <div class="columns">
                                <div class="column">
                                    <a href={% url 'view_post' course_id=course.id post_id=post.id %}>VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </br>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="column featured">
        {% if course.course_folders %}
        <div class="columns">
            {% for f in course.course_folders.all %}
            <div class="column is-1">
                <a href="/folder?folder_id={{f.id}}&course_id={{course.id}}">{{f.name}}</a>
            </div>
            {% endfor %}
            <div class="column is-1">
                    <a href="/course?course_id={{course.id}}">all</a>
                </div>
        </div>
        {% endif %}
        {% if create %}
        {% include './components/create_post.html' %}
        {% endif %}
        {% if post %}
        {% include './components/show_post.html' %}
        {% endif %}
    </div>
</div>
<div>
    <h2>
        {% if user in course.ta_staff.all or user == course.instructor %}
        DANGER ZONE
        </br>
        <a href="/delete_course?course_id={{course.id}}"> DELETE COURSE </a>
        {% endif %}
    </h2>
</div>
{% endblock %}