{% extends 'master.html' %}
{% block body %}
<h1 class="title">
    Home Page for Piazza v1.9.2
</h1>

<h2>You are currently logged in as <strong>{{user.first_name}}</strong></h2>
</br>
<h2>Your Courses : </h2>
<p>
    {% for course in courses%}
    <a href="/course?course_id={{course.id}}">{{course}}</a></br>
    {%endfor%}
</p>
</br>
<h2>
    <a href="/join_course"> Join Course</a>
</h2>
<h2>
    <a href="/create_course"> Create Course as Instructor</a>
</h2>
<h2>
    <a href="/logout"> Logout</a>
</h2>

{% endblock %}