{% extends 'master.html' %}
{% block body %}
<h1 class="title">
    Piazza v1.9.2
</h1>
<div>
    <a href="/"> Go Home</a>
    </br>
    <a href="/course?course_id={{course.id}}"> Return to Course Page</a>
    </br>
    <a href="/logout"> Logout</a>
    </br>
    <p class="subtitle">
        Welcome to the room where it happens! Manage your course here.
    </p>
    <form method="POST" action="/update_course">
        {% csrf_token %}
        <input type="hidden" value="{{course.id}}" name="course_id">
        <div>
            <input name="code" class="input is-primary" type="text" placeholder="Course Code" value="{{course.code}}">
        </div>
        </br>
        <div>
            <input name="name" class="input is-primary" type="text" placeholder="Course Name" value="{{course.name}}">
        </div>
        </br>
        <div>
            <input name="term" class="input is-primary" type="text" placeholder="Course Term" value="{{course.term}}">
        </div>
        <div>
            </br>
            <label class="label">Add folder names separated by commas</label>
            <input name="add_folders" class="input is-primary" type="text" placeholder="e.g. hw1, hw2">
        </div>
        </br>
        <div class="columns">
            <div class="column">
                <div class="select is-multiple is-primary">
                    <label class="label">Add Students</label>
                    <select class="js-example-basic-multiple" name="add_students" multiple="multiple">
                        {% for student in new_students %}
                        <option value="{{student.id}}">{{student}}</option>
                        {% endfor %}
                    </select>
                </div>
                </br>
                <div class="select is-multiple is-primary">
                    <label class="label">Add TAs</label>
                    <select class="js-example-basic-multiple" name="add_tas" multiple="multiple">
                        {% for ta in new_tas %}
                        <option value="{{student.id}}">{{ta}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="column">
                <div class="select is-multiple is-primary">
                    <label class="label">Remove Students</label>
                    <select class="js-example-basic-multiple" name="remove_students" multiple="multiple">
                        {% for student in curr_students %}
                        <option value="{{student.id}}">{{student}}</option>
                        {% endfor %}
                    </select>
                </div>
                </br>
                <div class="select is-multiple is-primary">
                    <label class="label">Remove TAs</label>
                    <select class="js-example-basic-multiple" name="remove_tas" multiple="multiple">
                        {% for ta in curr_tas %}
                        <option value="{{ta.id}}">{{ta}}</option>
                        {% endfor %}
                        <input type="hidden" value="{{course.id}}" name="course_id">
                    </select>
                </div>
            </div>
            <div class="column">
                <div class="select is-multiple is-primary">
                    <label class="label">Remove Folders</label>
                    <select class="js-example-basic-multiple" name="remove_folders" multiple="multiple">
                        {% for f in course.course_folders.all %}
                        <option value="{{f.id}}">{{f.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        </br>
        <button type="submit" class="button is-primary">Update</button>
    </form>
    <div>
        <p class="subtitle">
            Course Statistics
            <div class="columns">
                <div class="column">
                    <strong>Students</strong> : </br>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</abbr></th>
                                <th>Last Name</abbr></th>
                                <th>Email</abbr></th>
                                <th>Username</abbr></th>
                            </tr>
                        </thead>
                        {% for student in curr_students %}
                        <tbody>
                            <tr>
                                <td>{{student.first_name}}</td>
                                <td>{{student.last_name}}</td>
                                <td>{{student.email}}</td>
                                <td>{{student.username}}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
                <div class="column">
                    <strong>TAs</strong> : </br>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>First Name</abbr></th>
                                <th>Last Name</abbr></th>
                                <th>Email</abbr></th>
                                <th>Username</abbr></th>
                            </tr>
                        </thead>
                        {% for ta in curr_tas %}
                        <tbody>
                            <tr>
                                <td>{{ta.first_name}}</td>
                                <td>{{ta.last_name}}</td>
                                <td>{{ta.email}}</td>
                                <td>{{ta.username}}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </p>
    </div>

    </br>
    <div>
        <h2>
            DANGER ZONE
            </br>
            <a href="/delete_course?course_id={{course.id}}"> DELETE COURSE </a>
        </h2>
    </div>
    {% endblock %}