<div class="post card">
    <header class="card-header">
        <p class="card-header-title">
            {% if post.is_question %}
            question
            {% else %}
            note
            {% endif %}
        </p>
        <p>{{post.created_at}}</p>
    </header>
    <div class="card-content">
        <div class="content">
            <h1 class="title"> {{post.summary}}</h1>
            {{post.content}}
        </div>
    </div>
    <div class="card-footer">
        <div class="card-footer-item" style="justify-content: flex-start">
            <div class="columns">
                {% for f in post.folder.all %}
                <div class="column">
                    <p>{{f.name}}</p>
                </div>
                {% endfor %}
                {% if user == post.author %}
                <div class="column">
                    <button class="button is-primary" id="edit_post"
                        onclick="editPostModalClick('{{post.content}}')">edit</button>
                </div>
                {% endif %}
                <div class="column">
                    <p class="label">{{post.author}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</br>
{% if post.is_question %}
{% if user in course.students.all %}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            the student's answer
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            {% if post.student_answer %}
            {{post.student_answer}}
            {% else %}
            <form method="POST" action="/add_student_answer">
                {% csrf_token %}
                <input type="hidden" value="{{post.id}}" name="post_id">
                <input type="hidden" value="{{course.id}}" name="course_id">
                <input class="input" type="text" name="answer" placeholder="Compose your answer here">
                <button type="submit" class="button is-primary">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
    <div class="card-footer">
        <div class="columns">
            <div class="column">
                <div class="card-footer-item" style="justify-content: flex-start">
                    <button class="button is-primary" id="edit_post"
                        onclick="editStudentAnswerModalClick('{{post.student_answer}}')">edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
</br>
{% elif post.student_answer %}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            the student's answer
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            {{post.student_answer}}
        </div>
    </div>
</div>
</br>
{% endif %}
{% if user == course.instructor or user in course.ta_staff.all %}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            the instructor's answer
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            {% if post.instructor_answer %}
            {{post.instructor_answer}}
            <div class="card-footer">
                <div class="card-footer-item" style="justify-content: flex-start">
                    <button class="button is-primary" id="edit_post"
                        onclick="editInstructorAnswerModalClick('{{post.instructor_answer}}')">edit</button>
                </div>
            </div>
            {% else %}
            <form method="POST" action="/add_instructor_answer">
                {% csrf_token %}
                <input type="hidden" value="{{post.id}}" name="post_id">
                <input type="hidden" value="{{course.id}}" name="course_id">
                <input class="input" type="text" name="answer" placeholder="Compose your answer here">
                <button type="submit" class="button is-primary">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
</br>
{% elif post.instructor_answer %}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            the instructor's answer
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            {{post.instructor_answer}}
        </div>
    </div>
</div>
</br>
{% endif %}
{% endif %}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">
            followup discussions
        </p>
    </header>
    <div class="card-content">
        {% for followup in post.post_followups.all %}
        <div class="content">
            <p class="label">{{followup.author}}</p>
            {{followup.content}}
            {% if user == followup.author %}
            </br>
            </br>
            <button class="button is-primary" id="edit_followup"
                onclick="editFollowupModalClick('{{followup.id}}', '{{followup.content}}')">edit</button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="card-footer">
        <div class="card-footer-item" style="justify-content: flex-start">
            <form method="POST" action="/add_followup">
                {% csrf_token %}
                <input type="hidden" value="{{post.id}}" name="post_id">
                <input type="hidden" value="{{course.id}}" name="course_id">
                <label class="label">Start a new followup discussion</label>
                <input class="input" type="text" name="followup" placeholder="Compose a new followup discussion">
                </br>
                </br>
                <button type="submit" class="button is-primary">Post</button>
            </form>
        </div>
    </div>
</div>
</br>
<div class="modal" id="edit_modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Editing</p>
            <button class="delete" aria-label="close" id="close"></button>
        </header>
        <section class="modal-card-body" id="modal_body">

        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary" id="save">Save</button>
            <button class="button" id="cancel">Cancel</button>
        </footer>
    </div>
</div>